.zefraCenterViewport {
    position: absolute;
    /* 宽高比2.6 */
    width: 800px;    
    height: 308px;
    background-image: url(../source/centerBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.zefraTitleViewport {
    position: absolute;
    width: 600px;    
    height: 80px;
    background-image: url(../source/titleBg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top:4.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* 水平居中 */
    line-height: 92px; /* 垂直居中，值应与div的高度相同 */
    color: #E0B51E;
    font-weight: bold;
    text-shadow: 1px 1px 4px #FDF9E6;
    font-size: 20px;
}
.warfareText {
    position: absolute;
    height: 50px;
    width: 150px;
    transform: translate(-50%, 0);
    top:35px;
    color: white;
    text-align: center; /* 水平居中 */
    line-height: 50px; /* 垂直居中，值应与div的高度相同 */
    font-size: 15px;
    font-weight: bold;
}
.warfare {
    position: static;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 200px;
    margin-right: 20px;
}
.warfareDes {
    position: absolute;
    width: 145px;
    height: 100px;
    transform: translate(-50%, 50%);
    top:170px;
    text-indent: 1em;
    text-align: left;
    overflow: auto;
}
.warfarePicture {
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 118px;
    width: 118px;
    top: 148px;
    transform: translate(-50%, -50%);
}
.zefracardContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; /* 设置为Flex容器 */
    flex-direction: row; /* 子元素水平排列 */
}
.textContainer {
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #a7ffbe;
    font-size: 35px;
    text-shadow: rgb(223, 202, 202) 0 0 2px,rgb(223, 202, 202) 0 0 5px,rgb(223, 202, 202) 0 0 10px,
    rgb(223, 202, 202) 0 0 10px,rgb(223, 202, 202) 0 0 20px,rgb(223, 202, 202) 0 0 20px,black 0 0 1px;
    font-weight: bold;
}
.cardSelectButton:hover,.warfareSelectButton:hover {
    color: gold;
}
.warfare .warfareSelectButton {
    margin-top: 360px;
}
.cardSelectButton,.warfareSelectButton {
    position: static;
    background-image:url(../source/button.png);
    width: 100px;
    height: 37.5px;
    border-radius: 8px;
    margin-top: 50px;
    margin-left: 50px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    

}

.zefracard {
    position: static;
    background-image: url(../source/bscenes.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 400px;
    width: 200px;
    margin-right: 20px; /* 设置左边距为20px */
}
.zefracardContainer .zefracardindex0 {
    margin-left: 20px;
}
.generalCard {
    position: relative;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 208px;
    width: 160px;
    top: 25px;
    border-radius: 8px;
}
.generalCard .quality {
    position: absolute;
    bottom: -80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 92px;

}
.generalCard.qun .textnameDiv,
.generalCard.qun .textCamp{
    text-shadow: rgba(164, 164, 164, 1) 0 0 2px,rgba(164, 164, 164, 1) 0 0 5px,rgba(164, 164, 164, 1) 0 0 10px,
    rgba(164, 164, 164, 1) 0 0 10px,rgba(164, 164, 164, 1) 0 0 20px,rgba(164, 164, 164, 1) 0 0 20px,black 0 0 1px;
}

.generalCard.wu .textnameDiv,
.generalCard.wu .textCamp{
    text-shadow: rgba(57, 123, 4,1) 0 0 2px,rgba(57, 123, 4,1) 0 0 5px,rgba(57, 123, 4,1) 0 0 10px,
    rgba(57, 123, 4,1) 0 0 10px,rgba(57, 123, 4,1) 0 0 20px,rgba(57, 123, 4,1) 0 0 20px,black 0 0 1px;
}

.generalCard.shu .textnameDiv,
.generalCard.shu .textCamp{
    text-shadow: rgba(128, 59, 2,1) 0 0 2px,rgba(128, 59, 2,1) 0 0 5px,rgba(128, 59, 2,1) 0 0 10px,
    rgba(128, 59, 2,1) 0 0 10px,rgba(128, 59, 2,1) 0 0 20px,rgba(128, 59, 2,1) 0 0 20px,black 0 0 1px;;
}

.generalCard.wei .textnameDiv,
.generalCard.wei .textCamp{
    text-shadow: rgb(78 117 140) 0 0 2px, rgb(78 117 140) 0 0 2px, rgb(78 117 140) 0 0 2px, rgb(78 117 140) 0 0 2px, black 0 0 1px;
}

.generalCard.shen .textnameDiv,
.generalCard.shen .textCamp{
    text-shadow: rgba(243, 171, 27, 1) 0 0 2px,rgba(243, 171, 27, 1) 0 0 5px,rgba(243, 171, 27, 1) 0 0 10px,
    rgba(243, 171, 27, 1) 0 0 10px,rgba(243, 171, 27, 1) 0 0 20px,rgba(243, 171, 27, 1) 0 0 20px,black 0 0 1px;
}

.generalCard.jin .textnameDiv,
.generalCard.jin .textCamp{
    text-shadow: rgba(100, 74, 139,1) 0 0 2px,rgba(100, 74, 139,1) 0 0 5px,rgba(100, 74, 139,1) 0 0 10px,
    rgba(100, 74, 139,1) 0 0 10px,rgba(100, 74, 139,1) 0 0 20px,rgba(100, 74, 139,1) 0 0 20px,black 0 0 1px;
}
.generalCard .textCamp {
    position:absolute;
    right: 5px;
    top: 5px;
    color: white;
    font-size: 18px;
}
.generalCard .textnameDiv {
    position:absolute;
    writing-mode: vertical-lr; /*修改书写方向*/
    left: 5px;
    top: 5px;
    color: white;
    font-size: 18px;
}
.generalCard .textnameDiv .textnameTitle1,
.generalCard .textnameDiv .textnameTitle2 {
    writing-mode: horizontal-tb;
    color: gold;
}
.zefracard .skilldesDiv span {
    font-weight: bold;
}
.zefracard .skilldesDiv span.qun{
    color: rgb(164,164,164);
}
.zefracard .skilldesDiv span.wu{
    color: rgb(57,123,4);
}
.zefracard .skilldesDiv span.shu{
    color:  rgb(128, 59, 2)
}
.zefracard .skilldesDiv span.wei{
    color: rgb(78,117,140);
}
.zefracard .skilldesDiv span.shen{
    color: rgb(243,171,27);
}
.zefracard .skilldesDiv span.jin{
    color: rgb(100,74,139);
}
.zefracard .skilldesDiv {
    width: 150px;
    height: 90px;
    margin-top: 62px;
    position: relative;
    background-image: url(../source/skillContainer.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 8px;
    background-color: #C09669;
    overflow: auto;
    line-height: 1.2;
    padding :5px 5px 5px 5px;
    color: black;
    text-align: left;
    font-size: 14px;
    /* text-indent: 28px; */
}

.zefracard:hover,.warfare:hover {
    cursor: pointer;
}
.lpNumberDiv {
    position: absolute;
    color: white;
    font-size: 18px;
    top: 85%;
    left: 87%;
    font-weight: bold;
}
.lpDiv {
    position: absolute;
    background-image: url(../source/glass1.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    top: 85%;
    left: 72%;
}